@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
/*font family setting*/
html {
    font-family: "Montserrat", sans-serif !important;
}

.highlightText {
    color: #e27d60 !important;
}

.logoText {
    font-family: "Lobster Two", cursive;
    font-size: 2rem;
    color: #e27d60 !important;
    /* border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  background-color:#8AA6bf; */
}

.subText {
    font-family: "Montserrat", sans-serif !important;
    color: grey;
    font-size: 0.7rem;
    font-style: italic;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif !important;
}

/*text color setting*/
h4 {
    color: #04bdad !important;
}
.primaryColor {
    color: #d98e04 !important;
}

.secondaryColor {
    color: #04bdad !important;
}

.accentOneColor {
    color: #8aa6bf !important;
}

.accentTwoColor {
    color: #f2cb05 !important;
}

.accentThreeColor {
    color: #f15e1a !important;
}

/*background color setting*/

.primaryBgColor {
    background-color: #d98e04;
}

.secondaryBgColor {
    background-color: #04bdad !important;
}

.accentOneBgColor {
    background-color: #8aa6bf !important;
}

.accentTwoBgColor {
    background-color: #f2cb05 !important;
}

.accentThreeBgColor {
    background-color: #f15e1a !important;
}

.customBtn {
    border-radius: 3rem;
    border: 2px solid;
    font-weight: 400;
    padding: 0.3rem 1rem;
}

.customBtnPrimary {
    color: white;
    background-color: #d98e04;
}

.customBtnPrimary:hover {
    color: #d98e04;
    background-color: white;
}

.customBtnSecondary {
    color: white;
    background-color: #04bdad;
}

.customBtnSecondary:hover {
    color: #04bdad;
    background-color: white;
}

/* .navbar {
    background-color: white !important;
} */

/* nav a {
    color: white;
    text-decoration: none;
}

.nav-link {
    color: white !important;
    text-decoration: none;
} */

.iconImage {
    width: 1.5rem;
    margin-bottom: -1.3rem;
    margin-left: 5rem;
}

.logoSubText {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: -0.8rem;
}

.formImage {
    width: 25rem !important;
    height: 70%;
}

.adminForm {
    width: 25rem !important;
    /* width: 35%; */
    height: 70%;
    background-color: white !important;
}

.regisFormImage {
    width: 25rem !important;
    height: 45rem;
}

.regisAdminForm {
    width: 25rem !important;
    /* width: 40%; */
    height: 45rem;
    background-color: white !important;
}

.registrationFooter {
    font-size: 0.7rem;
}

.iconImage {
    width: 6rem;
    /* margin-bottom: -1.3rem; */
    margin-left: 5rem;
}

/* navbar */

.navbar a {
    color: rgb(26, 26, 26) !important;
}

.navbar a:hover {
    color: #d98e04 !important;
}
@media only screen and (max-width: 790px) {
    .adminForm {
        width: 90%;
    }
}
.adminForm p {
    font-size: 0.8rem;
    color: #8aa6bf;
    min-height: 7rem;
    /* overflow-y: scroll; */
}

.adminFormContainer {
    height: 100vh;
    color: rgb(21, 21, 21);
}

.formBtn {
    width: 100%;
    padding: 0.5rem 0;
}

.loginIcon {
    width: 7rem;
}

.CTAbanner {
    background-color: rgb(250, 250, 250);
    font-size: 0.8rem;
    font-weight: 500;
    /* text-align: center; */
}

.mainContainer {
    overflow-x: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/Jerrysuper123/artisanbreadsources/main/landingBG2.jpg");
}

.blockContent {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
}

.staffPurchase {
    font-size: 0.8rem !important;
}

.addProductBtn {
    color: white;
    border: none;
    padding: 0.5rem 0.3rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to right, #ffa3ba, #fa3d6d);
    text-decoration: none;
}

.resetSearchBtn {
    color: white;
    border: none;
    padding: 0.6rem 0.4rem;
    border-radius: 0.3rem;
    background-color: #04bdad;
    text-decoration: none;
}

.resetSearchBtn:hover {
    color: white;
}

.addProductBtn:hover {
    color: white;
}

/* .tableForm {
    overflow-x: scroll !important;
} */
